html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif; ;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

#dexheader{
    position:relative;
    height:100vh;
background:#181313;
}


#dexheader::before{
    content:"";
    position: absolute;
    top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
 background-image: url(/img/White\ Box\ Modern\ Potluck\ Night\ Themed\ Party\ Photo\ Collage.png),radial-gradient(black,grey);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity:0.35;
}

.flashy
{
text-align: center;;
    margin-top: 50%;
    text-transform: uppercase;
color: #ffffff;

    font-size:8em;
    font-weight: 800;
    
    position: relative;
    font-family: 'Dancing Script', cursive; 
}

#navbar{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em 2em;
    gap:20px;
    background-color: rgb(61, 61, 61, 0.75) 

}



.nav-link{
    text-decoration: none;
    color:rgb(209, 207, 207);
    font-size: 1.8em;
}

.nav-link:hover{
    text-decoration: underline;
}

.recipe-div{
    display: flex;
    flex-wrap: wrap;
    padding:2em;
    gap:2em;
    text-align: center;
    justify-content: center;
}

.rectile{
    padding:.5em;
    border:1px solid rgb(131, 131, 131);
    width:300px;
border-radius: 20px;
}
.rectile:hover{
    transform: scale(1.05)
}


.tile-img{
  border-radius: 20px;  
}