html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif; ;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{
    display:block;
    max-width: 100%;
}

/* stuff that appears on every page */
.body-wrapper{
    display: flex;
    flex-direction: column;
    width:95%;
    margin: 0 auto;
}



.flashy{
    position: relative;
text-align: center;
    margin-top: 50vh;
    text-transform: uppercase;
color: #ffffff;
    font-size: 11vw;
    font-weight: 800;

    font-family: 'Dancing Script', cursive; 
}



#navbar{
   
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em 2em;
    gap:20px;
    background-color: rgb(61, 61, 61, 0.75) 

}


.nav-link{
    text-decoration: none;
    color:rgb(209, 207, 207);
    font-size: 1.8em;
}

.nav-link:hover{
    text-decoration: underline;
}


#main{
     position:relative;

background:#181313;
}

#main::before{
     content:"";
    position: absolute;
    top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
 background-image: url(../img/restaurant-449952_1920.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity:0.15;
}

.footer{
    position: relative;
    margin-top: auto;
    text-align: center;
  
    font-size:1.8em;
    padding: 1em 2em;
    background-color: rgb(61, 61, 61, 0.75) ;
    color:rgb(209, 207, 207);
}


h3{
    font-size: 2em;
}

p{
    font-size: 1.8em;
    color: #e4e0e0;
    margin-top: 5px;
}

/* universal styling ends here */

/* homepage-specific styling */

.dex-head{
    position:relative;
    height:100vh;
background:#181313;
}

.dex-head::before{
    content:"";
    position: absolute;
    top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
 background-image: url(../img/White\ Box\ Modern\ Potluck\ Night\ Themed\ Party\ Photo\ Collage.png),radial-gradient(black,grey);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity:0.35;
}


.recipe-div{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding:2em;
    gap:2em;
    text-align: center;
    justify-content: center;
}

.rectile{
    
    border:5px solid rgb(131, 131, 131);
    width:300px;
border-radius: 20px;
}

.rectile:hover{
    transform: scale(1.05)
}

.tile-img{
  border-radius: 10px;  
}

/* homepage-specific styling ends here */

/* styling universal to recipe pages */
#intro{
    position: relative;
    padding:2em 3em;
   
    
}

.intro-img{
   width:80vw;
   margin: auto;
   margin-top: 20px;
}

#intro{
    margin-top:20px;
}

.skip-link{
    text-decoration: none;
    color: #ddb1b1;

}

.skip-link:hover{
    text-decoration: underline;
    color: #e4e0e0;
}

#recipe{
    position: relative;
    margin-top: 30px;
    padding:4em 2em;
    display: flex;
    gap:2em;
    flex-direction: column;
}

.ingredients, .steps{
    background: white;
    padding:4em 2em;
    border:2px double grey;
    border-radius: 20px;
   margin-top: 20px;
   
   width:80%;
   margin:auto;
}


.ing-list, .step-list{
    font-size: 1.6em;
}

/* recipe-universal styling ends here */


/* salad-page-specific styling starts here */




.salad-head{
       position:relative;
    height:100vh;
background:#181313;
}

.salad-head::before{
    content:"";
    position: absolute;
    top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
 background-image: url(../img/salad.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity:0.35;
}

/* salad styling ends here */

/* steak-specific styling */
.steak-head{
    position:relative;
    height:100vh;
background:#181313;
}

.steak-head::before{
    content:"";
    position: absolute;
    top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
 background-image: url(../img/steak.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity:0.35;
}

/* steak-styling ends here */

/* dessert-specific styling */

.cheese-head{
    position:relative;
    height:100vh;
background:#181313;
}

.cheese-head::before{
    content:"";
    position: absolute;
    top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
 background-image: url(../img/cheesecake.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity:0.35;
}